@model Customer
<div class="row">
    <h3>Оформление заказа</h3>
    <form asp-action="AddToOrder" asp-controller="Order" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <div class="col-md-5">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <div class="col-md-5">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Age"></label>
            <div class="col-md-5">
                <input type="number" asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <div class="col-md-5">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="col-md-5">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <input class="btn btn-success" type="submit" value="Завершить заказ" />
        <a asp-action="Index" asp-controller="Cart" class="btn btn-secondary">Отменить</a>
        <a asp-action="Index" asp-controller="Product" class="btn btn-success">Товары</a>
    </form>
</div>

