@model List<Product>
<h1>Все мебели</h1>

<div class="row mt-5 mb-2">
    @{
        foreach (var item in Model)
        {
                    <div class="col-lg-4">

                        <img class="img-thumbnail" src="~/Image/@item.Image" alt="@item.ProductName" />
                        <h2>@item.ProductName</h2>
                        <p content="TJS">Цена:@item.Price c. </p>

                       <p><a class="btn btn-success" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@item.Id">Добавить в корзину</a></p>

                    </div>
        }
    }
</div>