@model List<Cart>

<div class="container">

    @foreach (var car in Model)
    {
        <div class="alert alert-warning mt-10">
            <input type="hidden" asp-for="@car.Product.Id" />
            <b>Мебель:</b>@car.Product.ProductName<br />
            <b content="TJS">Цена:</b>@car.Product.Price c.
        </div>
    }
    <hr />

    <a class="btn btn-danger" asp-controller="Order" asp-action="AddToOrder">Заказать</a>

</div>